 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/nathan-dumlao--PogKQsxiDI-unsplash.jpg');
  background-position: 50% 72.3%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-group-1 {
  width: 873px;
  min-height: 381px;
  height: auto;
  margin: 240px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: AmedademoRegular-ow8K0;
  font-size: 9.375rem;
  margin: 8px 71px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 841px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 419px;
  background-image: url("images/photo-1649183424680-464747a8e43d.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 111px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 111px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 117px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  min-height: 432px;
  background-image: url("images/photo-1519741497674-611481863552.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 432px;
  background-image: url("images/photo-1634692843550-8ddff2a880ad.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 117px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 117px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 35px 0 30px;
}

.u-section-2 .u-image-4 {
  min-height: 432px;
  background-image: url("images/photo-1519741196428-6a2175fa2557.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: AmedademoRegular-ow8K0;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: AmedademoRegular-ow8K0;
  margin: 30px 227px 50px 146px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-image-1 {
    min-height: 345px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 92px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 92px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 96px;
  }

  .u-section-2 .u-image-2 {
    min-height: 356px;
  }

  .u-section-2 .u-image-3 {
    min-height: 356px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 96px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 96px;
  }

  .u-section-2 .u-image-4 {
    min-height: 356px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    margin-right: 127px;
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-2 .u-image-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 141px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 141px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 147px;
  }

  .u-section-2 .u-image-2 {
    min-height: 545px;
  }

  .u-section-2 .u-image-3 {
    min-height: 545px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 147px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 147px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    min-height: 545px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4010px;
  }

  .u-section-2 .u-image-1 {
    min-height: 794px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 423px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 221px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 818px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 818px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 221px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 221px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 818px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2632px;
  }

  .u-section-2 .u-image-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 139px;
  }

  .u-section-2 .u-image-2 {
    min-height: 515px;
  }

  .u-section-2 .u-image-3 {
    min-height: 515px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 139px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 139px;
  }

  .u-section-2 .u-image-4 {
    min-height: 515px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-gallery-1 {
  height: 285px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 229px;
  margin: 44px auto 0 -18px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 54px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.1875rem;
  font-family: AmedademoRegular-ow8K0;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 1px -25px 0 30px;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-size: 1.5rem;
  font-family: AmedademoRegular-ow8K0;
  font-weight: 700;
  margin: 18px 18px 60px 92px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-gallery-1 {
    height: 235px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-gallery-1 {
    height: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2570px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2160px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1770px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1360px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/d1c18ede46e9a1652865ef84c2d2dd59.jpeg');
  background-position: 100% 24.81%;
}

.u-section-4 .u-sheet-1 {
  min-height: 534px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 53px auto 53px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 429px;
}

.u-section-4 .u-image-1 {
  width: 253px;
  height: 274px;
  margin: 78px auto 0 20px;
}

.u-section-4 .u-image-2 {
  width: 250px;
  height: 338px;
  margin: -306px 28px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-4 .u-text-1 {
  font-family: AmedademoRegular-ow8K0;
  margin: 33px 162px 0 20px;
}

.u-section-4 .u-text-2 {
  position: relative;
  font-family: AmedademoRegular-ow8K0;
  margin: 20px 20px 33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 208px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-2 {
    width: 206px;
    margin-right: 23px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 134px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-4 .u-image-1 {
    width: 159px;
    height: 210px;
    margin-top: 55px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 158px;
    height: 274px;
    margin-top: -242px;
    margin-right: 17px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 102px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-4 .u-image-1 {
    width: 200px;
    height: 288px;
    margin-top: 100px;
    margin-left: 38px;
  }

  .u-section-4 .u-image-2 {
    width: 238px;
    height: 367px;
    margin-top: -327px;
    margin-right: 32px;
    margin-bottom: 77px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 10px;
    margin-right: 77px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 140px;
    height: 203px;
    margin-top: 143px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 190px;
    margin-top: -285px;
    margin-right: 0;
    margin-bottom: 78px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 48px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  background-image: url("images/728d0dad326fd588b2e9dddcd7b68d20.jpeg");
  background-position: 0% 39.14%;
}

.u-section-5 .u-sheet-1 {
  min-height: 772px;
}

.u-section-5 .u-image-1 {
  --radius: 10px;
  width: 312px;
  height: 458px;
  box-shadow: 2px 2px 8px 3px rgba(26,26,26,1);
  margin: 199px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-family: Woodland-K7Y0e;
  letter-spacing: 1px;
  width: 311px;
  margin: -429px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: AmedademoRegular-ow8K0;
  font-weight: 600;
  width: 282px;
  margin: 42px auto 0;
}

.u-section-5 .u-image-2 {
  --radius: 10px;
  width: 312px;
  height: 458px;
  filter: brightness(0.45);
  box-shadow: 2px 2px 8px 3px rgba(64,64,64,1);
  margin: -149px auto 0 48px;
}

.u-section-5 .u-text-3 {
  font-family: Woodland-K7Y0e;
  font-size: 1.875rem;
  margin: -418px 789px 0 53px;
}

.u-section-5 .u-text-4 {
  font-family: AmedademoRegular-ow8K0;
  margin: 32px 796px 0 64px;
}

.u-section-5 .u-image-3 {
  --radius: 10px;
  width: 312px;
  height: 458px;
  box-shadow: 2px 2px 8px 3px rgba(26,26,26,1);
  margin: -420px 47px 0 auto;
}

.u-section-5 .u-text-5 {
  font-family: Woodland-K7Y0e;
  font-size: 1.875rem;
  margin: -416px 48px 0 780px;
}

.u-section-5 .u-text-6 {
  font-family: AmedademoRegular-ow8K0;
  font-weight: 600;
  margin: 43px 68px -104px 801px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 641px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 660px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 628px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 669px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 421px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 440px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 408px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 449px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 241px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 260px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 228px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-2 {
    margin-left: 28px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 41px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 60px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 28px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 28px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 69px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 181px;
}.u-section-7 .u-sheet-1 {
  min-height: 1245px;
  margin: 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 979px;
  margin: 702px auto 0 81px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/6d518d4dd569b27345b6e0a7a6ee5197.jpeg");
  min-height: 371px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/3199867f0970794b072a8f411589f173.jpeg");
  min-height: 371px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 142px;
}

.u-section-7 .u-text-1 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 513px;
}

.u-section-7 .u-shape-1 {
  height: 531px;
  margin: -70px auto 0 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  margin: -403px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 50px;
  height: 3px;
  transform-origin: left center 0;
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-3 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-4 {
  position: relative;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 807px;
    margin-left: 66px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-shape-1 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-top: -435px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-line-1 {
    width: 42px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 618px;
    margin-bottom: 40px;
    margin-left: 51px;
  }

  .u-section-7 .u-image-1 {
    min-height: 357px;
  }

  .u-section-7 .u-image-2 {
    min-height: 357px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 136px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 493px;
  }

  .u-section-7 .u-shape-1 {
    height: 433px;
    width: 434px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: -415px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-line-1 {
    width: 32px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 502px;
    margin-top: 46px;
    margin-bottom: 1px;
    margin-left: 19px;
  }

  .u-section-7 .u-image-1 {
    min-height: 348px;
  }

  .u-section-7 .u-image-2 {
    min-height: 348px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 135px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 481px;
  }

  .u-section-7 .u-shape-1 {
    height: 317px;
    width: 251px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -299px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-line-1 {
    width: 30px;
    margin-left: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 316px;
    margin-left: 24px;
  }

  .u-section-7 .u-image-2 {
    min-height: 349px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-shape-1 {
    width: 174px;
    margin-top: 98px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -357px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-line-1 {
    width: 25px;
    margin-left: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 354px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 35px auto 35px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 284px;
}

.u-section-8 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1.875rem;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-top: 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 142px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-image-1 {
  width: 200px;
  height: 114px;
  position: relative;
  margin: 14px auto 14px 27px;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 142px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-image-2 {
  width: 200px;
  height: 114px;
  position: relative;
  margin: 14px auto 14px 27px;
}

.u-section-8 .u-layout-cell-4 {
  background-image: none;
  min-height: 142px;
}

.u-section-8 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-image-3 {
  width: 200px;
  height: 114px;
  position: relative;
  margin: 14px auto 14px 27px;
}

.u-section-8 .u-layout-cell-5 {
  background-image: none;
  min-height: 142px;
}

.u-section-8 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-image-4 {
  width: 200px;
  height: 114px;
  position: relative;
  margin: 14px auto 14px 27px;
}

.u-section-8 .u-layout-cell-6 {
  background-image: none;
  min-height: 142px;
}

.u-section-8 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-image-5 {
  width: 200px;
  height: 114px;
  position: relative;
  margin: 14px auto 14px 27px;
}

.u-section-8 .u-layout-cell-7 {
  background-image: none;
  min-height: 142px;
}

.u-section-8 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-image-6 {
  width: 200px;
  height: 114px;
  position: relative;
  margin: 14px auto 14px 27px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-1 {
    width: 165px;
    margin-left: 22px;
  }

  .u-section-8 .u-image-2 {
    width: 165px;
    margin-left: 22px;
  }

  .u-section-8 .u-image-3 {
    width: 165px;
    margin-left: 22px;
  }

  .u-section-8 .u-image-4 {
    width: 165px;
    margin-left: 22px;
  }

  .u-section-8 .u-image-5 {
    width: 165px;
    margin-left: 22px;
  }

  .u-section-8 .u-image-6 {
    width: 165px;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 380px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-image-1 {
    width: 126px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    width: 126px;
    margin-left: auto;
  }

  .u-section-8 .u-image-3 {
    width: 126px;
    margin-left: auto;
  }

  .u-section-8 .u-image-4 {
    width: 126px;
    margin-left: auto;
  }

  .u-section-8 .u-image-5 {
    width: 126px;
    margin-left: auto;
  }

  .u-section-8 .u-image-6 {
    width: 126px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-1 {
    width: 118px;
  }

  .u-section-8 .u-image-2 {
    width: 118px;
  }

  .u-section-8 .u-image-3 {
    width: 118px;
  }

  .u-section-8 .u-image-4 {
    width: 118px;
  }

  .u-section-8 .u-image-5 {
    width: 118px;
  }

  .u-section-8 .u-image-6 {
    width: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-image-1 {
    width: 99px;
  }

  .u-section-8 .u-image-2 {
    width: 99px;
  }

  .u-section-8 .u-image-3 {
    width: 99px;
  }

  .u-section-8 .u-image-4 {
    width: 99px;
  }

  .u-section-8 .u-image-5 {
    width: 99px;
  }

  .u-section-8 .u-image-6 {
    width: 99px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/4df5e8f230d302f8bf639f330f816598.png');
  background-position: 0% 0%;
}

.u-section-9 .u-sheet-1 {
  min-height: 644px;
}

.u-section-9 .u-group-1 {
  width: 775px;
  min-height: 321px;
  height: auto;
  margin: 161px auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-group-1 {
    width: 639px;
    height: auto;
  }

  .u-section-9 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 489px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 459px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}@font-face {
  font-family: 'AmedademoRegular-ow8K0';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AmedademoRegular-ow8K0.otf);
}@font-face {
  font-family: 'Woodland-K7Y0e';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Woodland-K7Y0e.otf);
}@font-face {
  font-family: 'LoveSeed-z8EVX';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LoveSeed-z8EVX.ttf);
}